.craft {
    float: left;
    display: inline-block;
}

#craft-iss {
    background-color: rgb(184, 4, 4);
    color: rgb(138, 249, 2);
}

#craft-tiangong {
    background-color: rgb(73, 3, 3), rgb(18, 7, 37), rgb(22, 16, 30);
    color: rgb(85, 59, 137);
}

.astro {
    display: inline-block;
    padding: 15px;
}